spring.application.name=metamapa
server.port=8082

auth.service.url=http://localhost:8080/api
colecciones.service.url=http://localhost:8080/api
graphql.service.url=http://localhost:8080/api/graphql

server.error.whitelabel.enabled=false
#logging.level.root=DEBUG

# Límites de carga
spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=25MB
