<header th:fragment="header" class="header">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <div class="container">
        <nav class="navbar">
            <a th:href="@{/}" class="logo-section">
                <div class="logo-icon">
                    <div class="logo-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"></path>
                            <circle cx="12" cy="10" r="3"></circle>
                        </svg>
                    </div>
                </div>
                <span class="logo-text">MetaMapa</span>
            </a>

            <div class="nav-menu">
                <a href="" class="nav-link">Impacto Social</a>
                <a href="#casos-uso" class="nav-link">Casos de Uso</a>
                <a href="#arquitectura" class="nav-link">Tecnologia</a>
                <a th:href="@{/colecciones}" class="nav-link">Colecciones</a>
            </div>

            <div class="button-section">
                <div class="user-menu">
                    <div class="user-trigger">
                        <div class="user-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="12" width="10.5" viewBox="0 0 448 512">
                                <!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                <path fill="#f9fafb"
                                      d="M144 128a80 80 0 1 1 160 0 80 80 0 1 1 -160 0zm208 0a128 128 0 1 0 -256 0 128 128 0 1 0 256 0zM48 480c0-70.7 57.3-128 128-128l96 0c70.7 0 128 57.3 128 128l0 8c0 13.3 10.7 24 24 24s24-10.7 24-24l0-8c0-97.2-78.8-176-176-176l-96 0C78.8 304 0 382.8 0 480l0 8c0 13.3 10.7 24 24 24s24-10.7 24-24l0-8z"/>
                            </svg>
                        </div>
                        <span sec:authorize="isAuthenticated()" sec:authentication="name">Usuario</span>
                        <span sec:authorize="!isAuthenticated()">Anónimo</span>
                        <span class="arrow">
                            <svg xmlns="http://www.w3.org/2000/svg" height="10" width="8.75" viewBox="0 0 448 512">
                            <!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                <path fill="#f9fafb"
                                      d="M201.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 338.7 54.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/>
                            </svg>
                        </span>
                    </div>
                    <div class="dropdown">
                        <div sec:authorize="!isAuthenticated()">
                            <a class="dropdown-item" th:href="@{/login}">Iniciar Sesión</a>
                            <a  class="dropdown-item" th:href="@{/register}">Registrarse</a>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <a class="dropdown-item" th:href="@{/hechos/me}">Mis hechos</a>
                            <form th:action="@{/logout}" method="post" class="logout-form">
                                <button class="logout-button" type="submit">Cerrar sesión</button>
                            </form>
                        </div>
                    </div>
                </div>
                <a th:href="@{/hechos/nuevo}" class="btn btn-primary">Contribuir</a>
                <div sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/admin}" class="btn btn-quaternary">Panel Admin</a>
                </div>
            </div>
        </nav>
    </div>
</header>
