spring.application.name=metamapa
app.base-url=http://localhost:8080/api
proxy.base-url=https://api-ddsi.disilab.ar/public/api
tiempo.algoritmo=0 0 3 * * *
limite.dias.edicion=7
hecho.estado.por.defecto=PENDIENTE

# Configuraci?n de la base de datos
spring.datasource.url=jdbc:mysql://localhost:3306/nombre_database?useSSL=false&serverTimezone=UTC&createDatabaseIfNotExist=true
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

# Configuraci?n de sincronizaci?n de entities contra la base de datos
spring.jpa.hibernate.ddl-auto=update
# none: no toca la BD.
# validate: valida que las entidades coincidan con la BD.
# update: actualiza la BD seg?n las entidades (muy usado en desarrollo).
# create: crea las tablas en cada inicio.
# create-drop: igual que create pero borra al apagar.

spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect

# Subirlo al repo como "application.properties.example" con valores genericos
# para no subir valores sensibles

# Ubicación física del filesystem
#upload.path=/var/app/uploads
upload.path=${user.home}/uploads
# o para desarrollo: upload.path=${user.home}/uploads

# Límites de carga
spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=25MB

#logging.level.root=DEBUG
