<html th:replace="~{layout/base :: html}">
<div th:fragment="contenido" class="admin-panel-container">
    <div class="admin-panel">
        <div class="content-header">
            <h2 class="content-title">Nueva Colección</h2>
            <a th:href="@{/admin}" class="btn btn-outline">Volver al Panel</a>
        </div>

        <div th:replace="~{fragments/formulario-coleccion :: formulario(
            ${coleccion},
            ${todasLasFuentes},
            @{/admin/colecciones/crear},
            'Crear Nueva Colección',
            'Completa los detalles para crear una nueva colección',
            'Crear Colección'
        )}"></div>
    </div>
</div>
</html>
