<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo} + ' - Metamapa'"></title>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/landing-styles.css}">
    <link rel="stylesheet" th:href="@{/css/botones.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <meta charset="UTF-8">
</head>

<header class="header">
    <div class="container">
        <nav class="navbar">
            <a href="landing.html" class="logo-section">
                <div class="logo-icon">
                    <div class="logo-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"></path>
                            <circle cx="12" cy="10" r="3"></circle>
                        </svg>
                    </div>
                </div>
                <span class="logo-text">MetaMapa</span>
            </a>

            <div class="nav-menu">
                <a href="Impacto Social/impactosocial.html" class="nav-link">Impacto Social</a>
                <a href="#casos-uso" class="nav-link">Casos de Uso</a>
                <a href="#arquitectura" class="nav-link">Tecnologia</a>
                <a href="Colecciones/colecciones.html" class="nav-link">Colecciones</a>
            </div>

            <div class="button-section">
                <a href="login.html" class="btn btn-secondary">Acceder</a>
                <a href="contribuir.html" class="btn btn-primary">Contribuir</a>
            </div>
        </nav>
    </div>
</header>
<body>

</body>
</html>